body {
  margin: 40px;
}

.sidebar {
		grid-area: sidebar;
	}

	.content {
		grid-area: content;
  }
  .items {
		grid-area: items;
		max-height: 200px;
		overflow: auto;
	}

	.header {
		grid-area: header;
	}


	.wrapper {
		display: grid;
        grid-gap: 10px;
		grid-template-columns: 1fr  1fr  1fr;
		grid-template-areas:
			   "header header playerItems"
			   "content content items"
				"content content sidebar";
		background-color: #fff;
		color: #444;
	}
.box {
  background-color: #46178F;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.header {
  background-color: #46178F
}

.cardsContainer {
  display: flex;
}

.button {
	background-color:rgb(102, 255, 0);
	border: none;
	color: white;
	padding: 15px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }